:root {
    --color1: #ede4d0; 
    --color2: teal; 
    --color3: #393b4b;
    --color4: rgba(18, 19,19);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./bg.jpg) center/cover;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color1);
    /*Centrer éléments*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: rgba(0, 0, 0, 0.507);
    width: calc(100% - 50px);
    padding: 20px 20px 6px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

/*Ajout de symboles 
https://www.toptal.com/designers/htmlarrows/symbols/
*/
.card:before {
    content: "\2730";
    position: absolute;
    top: 14px;
    right: 20px;
    font-size: 2.4rem;
}

h1 {
    margin-bottom: 24px;
    position: relative;
}

/*Création d'une barre horizontal après le h1*/
h1::after {
    content: "";
    position: absolute;
    background: var(--color2);
    height: 2px;
    width: 100%;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    animation: h1anim 10s ease-in-out forwards;
    transform-origin: left;
}

/*Animation*/
@keyframes h1anim {
    100% {
        transform: translateX(-50%) scaleX(1);
    }
}

/*Ajout du grid*/
.grid-container {
    display:grid;
    grid-template-columns: 20% 80%;
}

.polygon-container {
    filter: drop-shadow(-1px 6px 3px var(--color2));
    /* Mettre le parent en grid */
    place-self: center left;
  }

/*
Site pour les formes de polygone et générateurs de couleurs gradient
https://bennettfeely.com/clippy/
https://cssgradient.io/
*/
.polygon {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: linear-gradient(135deg, var(--color2) 0%, var(--color1) 100%); 
    height: 100px;
    width: 100px;
}

.polygon:after {
    content: "Un texte";
    position: absolute;
    color: var(--color2);
    background: var(--color4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(344deg);
    width: 90px;
    padding: 4px;
    text-align: center;
}

p {
    line-height: 26px; /*Interligne*/
    margin: 20px 0;
    /*Positionnement du paragraphe selon le nombre de ligne voulu*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /*4 lignes voulues afficher*/
    overflow: hidden;
    text-align: justify;
}

/*Sélection d'un paragraphe*/
p::selection {
    background: var(--color2);
    color: var(--color3);
}

.checkbox-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 30px;
    perspective: 30px;  /*Ajout du perspective au parent*/
}

/*Traitement du checkbox*/
input[type="checkbox"] {
    display: none;   /*Fait disparaitre le checkbox*/
}

input[type="checkbox"]:checked + label {
   background: var(--color2);
   color: var(--color3);
   transform: scale(1.1);
   filter: brightness(120%);
}

label {
    cursor: pointer;
    border: 1px solid var(--color3);
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
    user-select: none; /*Empêche de sélectionner le texte du label*/
}

/*Animation sur le premier label */
label:first-of-type:hover {
    animation: label1 1s infinite linear;
}

@keyframes label1{
    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
/*Faire le 3D*/
/*Animation sur le label 2 représentant le 4ième enfant de notre div checkbox-container */
label:nth-child(4):hover {
    animation: label2 3s infinite linear;
}

/* Ne pas oublier perspective sur le parent */
@keyframes label2 {
    33% {
      transform: translateZ(30px);
    }
    66% {
      transform: translateZ(-40px);
    }
    100% {
      transform: translateZ(0);
    }
  }

/*Traitement de l'input email*/
.e-mail {
    text-align: center;
    margin-bottom: 20px;
}

.e-mail input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 3px solid transparent;
    transition: 0.3s;
    text-align: center;
    font-size: 1.1rem;
    color: var(--color1);
    /*Reglage responsive*/
    min-width: 150px;
    width: 35%;
    max-width: 300px;
}

/*Comportement de l'input quand on écrit dedans*/
input[type="text"]:focus {
    background: transparent;
    border: 1px solid var(--color2);
    border-radius: 150px;
}

input[type="text"]::placeholder {
    color: var(--color2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Traitement du button*/
button {
    cursor: pointer;
    background: var(--color2);
    border: none;
    font-size: 1.3rem;
    padding: 10px 20px;
    border-radius: 150px;
    /*centrer le button*/
    margin: 0 auto;
    display: block;
    transition: 0.1s;
}

button:hover {
    letter-spacing: 3px;
}

button:active {
    transform: scale(1.2);
}

button:hover + a,
a:hover {
   opacity: 1;
   transform: translateY(0);
}

a {
    color: var(--color2);
    text-align: center;
    display: block;
    /*Animation*/
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s;
    /*text-decoration: none;*/  /*Enlève le soulignement*/
}

a:visited {
    color: var(--color1);
}
 